#s-19bfd856-6474-4b46-9ff4-f4ed45f5d380 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19bfd856-6474-4b46-9ff4-f4ed45f5d380 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-19bfd856-6474-4b46-9ff4-f4ed45f5d380 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-19bfd856-6474-4b46-9ff4-f4ed45f5d380 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}