#s-31fe1ea9-08a7-4fc1-9d51-68cc3239cf30 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31fe1ea9-08a7-4fc1-9d51-68cc3239cf30 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-31fe1ea9-08a7-4fc1-9d51-68cc3239cf30 #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-31fe1ea9-08a7-4fc1-9d51-68cc3239cf30 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}