#s-3e1ed271-7c90-43c8-a2e6-e28873db172c #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e1ed271-7c90-43c8-a2e6-e28873db172c #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-3e1ed271-7c90-43c8-a2e6-e28873db172c #s-Flat-button-light {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-3e1ed271-7c90-43c8-a2e6-e28873db172c > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}