#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 #s-Flat-button-light {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #08AE9E;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #08AE9E;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #08AE9E;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #08AE9E;
  border-radius: 3px 3px 3px 3px;
  padding-top: 2px;
  padding-right: 2px;
  padding-bottom: 2px;
  padding-left: 2px;
  width: 246px;
  height: 42px;
  -ms-transform: rotate(0.0deg);
}
#jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
#s-d12245cc-1680-458d-89dd-4f0d7fb22724 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}